<div class="px-4 py-5 my-5 text-center">
  <img class="d-block mx-auto mb-4 img-thumbnail rounded-pill" src="/img/depran.jpg" alt="depran.jpg" width="180px">
  <h1 class="display-5 fw-bold">Ade Pranaya</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">Frontend Web Developer | Web Mentor | Content Creator</p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <a href="https://instagram.com/depran7" class="btn btn-primary btn-lg px-4 gap-3">Instagram</a>
      <a href="mailto://adepranaya@gmail.com" class="btn btn-outline-secondary btn-lg px-4">Contact Email</a>
    </div>
  </div>
</div>